.mobile-nav {
  position: relative;
  &__block:not(:last-of-type) {
    margin-bottom: 20px;
  }
  &__wrapper {
    display: none;
    opacity: 0;
    height: 0;
    transition: transform $trans-default, opacity $trans-default;
  }

  &__wrapper_active {
    display: block;
    z-index: 5;
    position: absolute;
    top: -1px;
    left: 0;
    opacity: 100;
    width: 100%;
    height: auto;
    background-color: $color-default-white;
    padding: 20px 0 28px;
  }
  &__list {
    @include reset-list;
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 12px;
    font-size: 17px;
    line-height: 24px;
  }

  &__link {
    color: $color-nero;
  }

  &__select {
    padding: 0;
    color: $color-nero;
  }
}
