.tabs {
  max-width: 100%;
  display: grid;
  grid-template-columns: 304px auto;
  column-gap: 32px;
  &__title {
    margin: 0 0 6px;
    padding: 0 32px;
    font-family: $font-family--montserrat;
    font-weight: 600;
    color: $color-fade;
    text-transform: uppercase;
  }
  &__inner {
    background-color: $color-default-white;
    border-radius: 16px;
  }


  &__controls-group {
    margin-bottom: 28px;
  }
  &__controls {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    background-color: $color-default-white;
    border-radius: 16px;
  }
  &__control {
    cursor: pointer;
    min-width: auto;
    justify-content: center;

    //@media screen and (max-width: 1023px) {
    //  margin: 0 10px;
    //  padding: 15px;
    //}
    //
    //@media screen and (max-width: 767px) {
    //  margin: 10px 2% 0;
    //  padding: 10px;
    //  width: 45%;
    //}

    &.is-active {
      opacity: 1;
      pointer-events: none;
    }
  }
  &__content {
    transition: height 0.3s;
  }
  &__element {
    width: 100%;
  }
}


//.tabs--unset .tabs__content {
//  height: 100px;
//}
//
//.tabs--unset .tabs__element {
//  height: 100%;
//  overflow-y: auto;
//  overflow-x: hidden;
//}
