mixin billing()
  .billing
    .tabs.billing__tabs(data-tabs="parent" data-delay="300")
      .tabs__controls.billing__controls(data-tabs="controls")
        button.tabs__control.billing__control(type="button" data-tabs="control" data-index="0") Limits
        button.tabs__control.billing__control(type="button" data-tabs="control" data-index="1") Invoices

      .tabs__content.billing__content(data-tabs="content")
        .tabs__element(data-tabs="element")
          +limits()
        .tabs__element(data-tabs="element")
          p Invoices content
