mixin intro()
  section.intro
    .container.container_no-mobile
      .intro__content
        .intro__info
          h2.intro__title Заголовок текст &nbsp;
            span.text-accent текст текст &nbsp;
            | текст текст текст
          .intro__description
            p.intro__text.intro__text_light текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст  текст текст, текст текст текст текст текст текст текст текст текст текст текст текст текст
            p.intro__text
              i Текст – текст текст текст  текст  текст , текст  текст  текст текст текст текст текст текст текст текст текст текст текст текст текст текст.
          button.intro__btn.button.button_light(type="button" aria-label="Записаться на проверку" data-fancybox-modal data-src="#modal-apply") Записаться на проверку
